html,body {
    background-color: white;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
width:100%;
height:100%;
display: flex;
flex:1;
align-items: center;
justify-content: center;
flex-direction: column;
}
.message {
    text-align: center;
}
/*
* Boat styles
*/
.animation {
    flex-shrink: 0;
    background: skyblue;
    width:300px;
    height:300px;
    border-radius:50%;
    z-index: 1;
    position: relative;
    clip-path: circle(150px at center);
    overflow: hidden;
}

@media screen and (max-width: 600px){
    .message {
        margin-top:1.25rem;
    }
}

.boat {
    background-image:url('img/cruiseship.png');
    background-size:contain;
    background-repeat: no-repeat;
    width:200px;
    height:200px;
    z-index: 500;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-55%);
    animation-name: boat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

@keyframes boat {
    0% {
        top: 50%;
    }
    50% {
        top:47%;
    }
    100% {
        top:50%;
    }
}

/*
* Wave styles
*/

.wave{
    height: 70px;
    background-image: url('img/wave.png');
    background-repeat: repeat-x;
    position: relative;
    top:140px;
    z-index: 1000;
    animation-name: wave;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
  }
  .deep-water {
      background-color: blue;
      width:300px;
      height:300px;
      position: relative;
      top:130px;
  }

  @keyframes wave {
      from {
          background-position: 0px 0px;
      }
      to {
          background-position: 1000px 0px;
      }
  }
